.quarto{
    padding: 3em;
    background-color: #e1fd92;
    border-radius: 25px;
    box-shadow: 5px 2px #0002;

label {
        font-weight: bold;
        color: #333;
        display: inline-block;
    }
    
input {
        padding: 10px 1px;
        font-size: 1em;
        border-radius: 15px;
        border: 2px solid #ccc;
        text-align: center;
    }
}